# Virtual environment
SELENIUM_VENV/
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Allure reports
reports/

# Environment variables
.env